$adLayoutBg: rgba(255, 255, 255, 0.85);
$borderRadius: 30px;
$campaignHeight: 412px;
$gridGap: 2rem;
.webads--wrapper {
    margin-top: 1rem;
    margin-right: 2rem;
    .webads {
        .webads--layout {
            display: grid;
            grid-template-columns: 200px auto;
            grid-template-rows: 70px auto 30px;
            .adLayout {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                column-gap: 2em;
            }
            &--header--titles {
                background: $adLayoutBg;
                border-top-left-radius: $borderRadius;
                border-top-right-radius: $borderRadius;
                display: flex;
                align-items: center;
                padding-left: 1rem;
                font-size: 2rem;
            }
            &--footer {
                background: $adLayoutBg;
                border-bottom-left-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
            }
            &--main--left {
                .campaign-header--wrapper {
                    .campaign-header {
                        position: relative;
                        height: $campaignHeight;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: $gridGap;
                        &::after {
                            position: absolute;
                            z-index: -1;
                            content: "";
                            top: 0;
                            left: 0;
                            // width: 100%;
                            width: calc(100vw - #{$nav_width});
                            height: 100%;
                            // background: linear-gradient(277.5deg, #184800 17.98%, #65b53d 97.04%);
                        }
                        &:nth-child(n) {
                            &::after {
                                background: linear-gradient(140.77deg, #65b53d -6.88%, #184800 105.51%);
                            }
                        }
                        &:nth-child(2n) {
                            &::after {
                                background: linear-gradient(140.77deg, #ffc802 -6.88%, #963600 105.51%);
                            }
                        }
                        &:nth-child(3n) {
                            &::after {
                                background: linear-gradient(140.77deg, #2b7cff -6.88%, #4900c0 105.51%);
                            }
                        }
                        &:nth-child(4n) {
                            &::after {
                                background: linear-gradient(270deg, #8d1900 0%, #ff603d 100%);
                            }
                        }
                        &--textwrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .campaign--text {
                                color: #d4d4d4;
                                font-size: 1.5rem;
                                margin-bottom: 1rem;
                            }
                            .letter {
                                color: white;
                                font-weight: bold;
                                font-size: 5rem;
                            }
                        }
                    }
                }
            }
            &--main--right {
                .campaign-wrapper {
                    .campaign {
                        height: $campaignHeight;
                        margin-bottom: $gridGap;

                        .campaign--section {
                            position: relative;
                            // height: 300px;
                            background: $adLayoutBg;
                            padding: 1rem;
                            display: flex;
                            flex-direction: column;
                            &::after {
                                position: absolute;
                                z-index: -1;
                                bottom: -$gridGap;
                                left: 0;
                                width: 100%;
                                padding-bottom: $gridGap;
                                content: "";
                                background: $adLayoutBg;
                            }
                            &--tag {
                                font-size: 1rem;
                                margin-bottom: 1rem;
                            }

                            &--imagewrapper {
                                overflow-y: auto;
                                height: 280px;
                                margin-bottom: 1rem;
                                // display: flex;
                                // align-items: center;
                                img {
                                    margin: 0 auto;
                                    display: block;
                                }
                            }

                            &--bottom {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
                                &--weight {
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 0.8rem;
                                    label {
                                        margin-bottom: 0.4rem;
                                    }
                                    input {
                                        padding: 0.3em 0.5em;
                                        width: 60px;
                                        &.error{
                                            border: 2px solid $intranet_red;
                                        }
                                    }
                                }
                                button {
                                    outline: none;
                                    border: none;
                                    font-size: 0.8rem;
                                    font-weight: bold;
                                    color: $intranet_red;
                                    background: none;
                                    cursor: pointer;

                                    &:hover {
                                        color: darken($intranet_red, 10%);
                                    }
                                }
                            }
                            &.noad {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                button {
                                    width: 252px;
                                    svg {
                                        path {
                                            fill: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .webads--table--wrapper {
            display: grid;
            grid-template-columns: 200px auto;
            grid-template-rows: auto;
            .webads--table {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                column-gap: 2em;

                &--col {
                    color: white;
                    // padding: 0em 1em;

                    h1 {
                        font-size: 2rem;
                        font-weight: normal;
                        margin-top: 1.5em;
                        margin-bottom: 1em;
                    }

                    &--card {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        margin-bottom: 2rem;
                        background: #626262;
                        padding: 1rem;
                        border-radius: 10px;
                        p {
                            margin: 0;
                            margin-bottom: 1rem;
                        }

                        &--imgwrapper {
                            position: absolute;
                            $thumbSize: 100px;
                            // height: $thumbSize;
                            width: $thumbSize;
                            bottom: 0;
                            left: calc(-10px - #{$thumbSize});
                            // z-index: 5;
                            display: none;
                            opacity: 0;
                        }
                        &--bottom {
                            display: flex;
                            justify-content: space-between;
                            &--campaign {
                                display: flex;
                                button {
                                    outline: none;
                                    border: none;
                                    border-radius: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    $btnRadius: 22px;
                                    height: $btnRadius;
                                    width: $btnRadius;
                                    color: white;
                                    margin-right: 0.5rem;
                                    cursor: pointer;
                                    &:nth-child(n) {
                                        background: linear-gradient(140.77deg, #65b53d -6.88%, #184800 105.51%);
                                    }
                                    &:nth-child(2n) {
                                        background: linear-gradient(140.77deg, #ffc802 -6.88%, #963600 105.51%);
                                    }
                                    &:nth-child(3n) {
                                        background: linear-gradient(140.77deg, #2b7cff -6.88%, #4900c0 105.51%);
                                    }
                                    &:nth-child(4n) {
                                        background: linear-gradient(270deg, #8d1900 0%, #ff603d 100%);
                                    }
                                    // transition: opacity .3s;

                                    &:hover {
                                        opacity: 0.5;
                                    }

                                    // opacity: .;
                                    // font-weight: bold;
                                }
                            }
                            svg {
                                cursor: pointer;
                                &:hover {
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
